node_modules/
dist/
build/
.env
.env.*
.vercel/
*.log

frontend/node_modules/
frontend/dist/
frontend/.git/

backend/node_modules/
backend/dist/
backend/.git/
backend/tmp/
backend/chatbot/pro/node_modules/
backend/chatbot/pro/dist/

